.CardDescription{
    font-family: mitra;
    color: rgb(70, 70, 70);
}

.RateBadge{
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.CustomerBadge{
    font-family: mitra !important;
    font-weight: bold !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    margin-top: 2% !important;
}