#MainGrid{
    padding: 1%;
  }
  
  .MainCard{
    padding: 1%;
    box-shadow: 0 0 3px rgb(170, 170, 170);
  }
  
  .CardFlex:hover , cardFlex:focus{
    cursor: pointer;
  }

  .CardAvatar{
    margin-left: 5%;
    align-self: center;
  }
  
  .CardAvatar img{
    object-fit: scale-down;
    filter: invert(41%) sepia(97%) saturate(795%) hue-rotate(182deg) brightness(84%) contrast(110%);
  }
  
  .CardTitle{
    font-family: yekan;
    margin-bottom: 5% !important;
    text-shadow: 0 0 2px rgba(149, 149, 149, 0.5);
  }
  
  .CardDescription{
    font-family: mitra;
  }