
.SearchBarFlex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

#SearchLabel {
  font-family: rezvan !important;
  font-size: x-large;
}

.SearchBarFlex #SearchInput{
  padding: 1rem 1rem;
  font-family: mitra;
  font-size: large;
  width: 30%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid rgb(115, 223, 73);
  transition: all 300ms ease-in-out;
}

.SearchBarFlex #SearchInput:focus {
  border-bottom: 3px solid rgb(0, 158, 66);
  outline: none;
  width: 65%;
}

.AutoCompleteFlex{
  background-color: white;
  font-family: mitra;
  font-size: large;
  width: 35%;
  margin:auto;
  margin-top: -1.5% !important;
  padding: 1%;
}

.ResultGrid{
  margin-top: 3%;
  align-items: center;
}


.resultTitle{
  font-family: yekan;
  font-size: larger;
}

.resultText{
   font-family: mitra;
   padding-right: 2%;
   font-size: larger;
   overflow: scroll;
   border: none;
}

.rt-TextFieldRoot{
  width: 70% !important;
}
