.MainCard{
  padding: 1%;
}

.CardAvatar{
  margin-left: 5%;
  align-self: center;
}

.CardAvatar img{
  object-fit: scale-down;
  filter: invert(41%) sepia(97%) saturate(795%) hue-rotate(182deg) brightness(84%) contrast(110%);
}

.CardTitle{
  font-family: rezvan;
  font-size: x-large;
  margin-bottom: 5% !important;
}

.CardDescription{
  font-family: mitra;
  font-size: larger;
}