@font-face {
  font-family: 'mitra';
  font-style: normal;
  src:url(assets/Fonts/BMitra.TTF) format('truetype'); 
}

@font-face {
  font-family: 'yekan';
  font-style: normal;
  src:url(assets/Fonts/BYekan.TTF) format('truetype'); 
}

@font-face {
  font-family: 'rezvan';
  font-style: normal;
  src:url(assets/Fonts/A.Rezvan.ttf) format('truetype'); 
}

body{
  padding: 0;
  margin: 0;
  background-color: #c9c9c9;
  background: #c9c9c9;
  background: radial-gradient(circle,#dfdddd 50%,#e2e3e7 85%);
}

.SectionHeader{
  font-family: rezvan;
  font-size: x-large;
  margin-right: 3% !important;
  margin-left: 3% !important;
  margin-bottom: 1% !important;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
}